// gallery

h3 {
  font-size: 18px;
}


// .bg-image {
//   background-repeat: no-repeat;
//   max-width: 100%;
//   height: auto;

// }



body,
html {
  height: 100%;
}

p {
  color: #3c3a3a8c;

}



.bg {
  background-image: url("https://res.cloudinary.com/ddy4ifl5i/image/upload/v1672961763/Ai_e8nkxh.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post_image {
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.post_text {
  font-weight: normal;
  padding: 0px;
  font-size: 20px;
}

.post_header {
  display: flex;
  padding: 10px;
  align-items: center;
}


.post_avatar {
  margin-right: 10px;
}

.post {
  border: 1px solid lightgray;
  max-width: 500px;
  background-color: white;
  margin-bottom: 45px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.post_image {
  width: 100%;
  object-fit: contain;
}


.image-form {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.field {
  padding: 10px;
}


.img {
  width: 60px;
}